RewriteEngine On

ErrorDocument 404 /error.php

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ routes.php [NC,L]



# php_value max_allowed_packet 500MB
